[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
build = "*"
pyinstaller = "*"
pyside6 = "*"
python-binance = "*"

[dev-packages]

[requires]
python_version = "3.13"
