Screen.list-screen{
	align: center middle;
	background: cyan;
	color: skyblue;
}

Horizontal{
	background: transparent;
}

Label{
	text-align: center;
}

VerticalScroll.left-panel{
	width: 1fr;
}

VerticalScroll.right-panel{
	width: 3fr;
	align: center middle;
}

PersonStatic#myself{
	layout: horizontal;
	background: mediumpurple;
	height: 3;
	border: solid red;
}

PersonStatic.someone{
	layout: horizontal;
	background: green;
	height: 3;
	border: solid red;
}

Button.publish-to-map{
	padding: 0;
	margin: 0;
	border: none;
	min-height: 1;
	min-width: 2;
	background: yellow;
	color: blue;
}

Label#person-name-label{
	background: lightsalmon;
	width: 90%;
}

XxxvStatic.xxxv-static{
	align: center middle;
	background: yellowgreen;
	color: black;
	width: 90%;
	height: 2;
}

Label.bdem-xxxv-text{
	width: 1fr;
	background: orange;
}

Label.bdem-xxxv-symbol{
	width: 1fr;
	background: gold;
}

Label.bayt-xxxv-text{
	width: 1fr;
	background: orange;
}

Label.bayt-xxxv-symbol{
	width: 1fr;
	background: gold;
}

Vertical.xxxv-switch-panel{
	align: center top;
	width: 1fr;
	background: green;
}

Label.xxxv-switch-label{
	width: 1fr;
	background: lightblue;
}

Switch.xxxv-switch{
	padding: 0;
	margin: 0;
	border: none;
	height: 1;
	width: 5;
}